




<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ui">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Crew Member</li>
  </ol>
</nav>
<br>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<form class="row g-1 needs-validation" method="POST" action="/addcrew" novalidate>
{{> crew-form}}
</form>