<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ui">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Crew</li>
  </ol>
</nav>
<br>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}





{{#each rows}}
<form class="row g-1 needs-validation" method="POST" action="/editcrew/{{this.id}}" encType="multipart/form-data" novalidate>
  {{> crew-form}}
</form>
{{/each}}

{{!-- file upload form --}}

{{!-- <div class="col-md-3">
  <form action="/editcrew" method="POST" encType="multipart/form-data" novalidate>
    <input type="file" name="profile_image">
    <input type="submit" class="btn btn-primary">
  </form>
</div> --}}
{{!-- file upload form --}}
