<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Home</title>

</head>


<body>

  <nav>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>







  <div class="split_left">
    <div class="centered">
    </div>
  </div>
  <div class="split_right">
    <div class="centered">
<style>
  
</style>

      <div class="jumbotron">

        <h1 class="display-7 mt-5">Vessel Management System</h1>
        <p class="lead">This is a simple solution that will save you days of hardwork. Managing crew members and their certificates never been so easy!</p>
        <hr class="my-4">
        {{!-- Developed after 20 years of experience in the marine industry. --}}
        <p>Developed to ease the daily workload to easily manage large amount of certificates.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        </p>
      </div>


    </div>
  </div>
</body>

</html>

