<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>

</head>


<body>

    <navreg>
        <h4><a href='/'>Vessel Management System</a></h4>
        <ul>

            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </navreg>


    <div class="container mt-4">
        <div class='row'>
            <div class='col-4'>
                <div class="card">
                    <div class="avatar-ctn">
                        <img src='images/profile.png' class='avatar' alt='user profile picture'>
                    </div>
                    <div class="card-body">
                        <h5 class='card-title'>John Doe</h5>
                        <p class="card-text">Some quick example text to build</p>
                        <a href='#' class='btn btn-primary'>john@email.com</a>
                    </div>
                </div>
            </div>

            <div class='col-8'>
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="class body">
                        <h5 class='card-title'>Hey John Welcome back</h5>
                        <p class="card-text">
                            this is you profile page where you can write information about yourself 
                        </p>
                        <a href='#' class='btn btn-primary'>Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">Node MySQL - Project</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>