<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>

</head>


<body>

    <navreg>
        <h4><a href='/ui'>Vessel Management System</a></h4>
        <ul>

           {{#if user}}
      {{!-- <li><a href="/profile">Profile</a></li> --}}
      <li><a href="/auth/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {{/if}}
        </ul>
    </navreg>


    
        <div class='row'>
            <div class='row justify-content-center'>
                <div class="cardp">
                    <div class="avatar-ctn">
                        <img src='images/profile.png' class='avatar' alt='user profile picture'>
                    </div>
                    <div class="card-body">
                        <h5 class='card-title'>{{user.name}}</h5>
                        <p class="card-text"></p>
                        <a href='#' class='btn btn-primary'>{{user.email}}</a>
                    </div>
                </div>
            </div>

            <div class='row justify-content-center'>
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="class body">
                        <h5 class='card-title'>Hey {{user.name}} Welcome back</h5>
                        <p class="card-text">
                            this is you profile page
                        </p>
                        <a href='#' class='btn btn-primary'>GO UP</a>
                    </div>
                    <div class="card-footer text-muted">Crew management software</div>
                </div>
            </div>
        </div>
    

</body>

</html>